{% if current_link.target != app.user %}
    <div class="linkDestinataire" data-target-id="{{ current_link.target.id }}">
        {% if not current_link.status %}
            <a href="#">
                <img class="link" data-action="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}create{% else %}register{% endif %}" data-target-id="{{ current_link.target.id }}" src="/images/icone/link.png" title="Linker cette personne" />
            </a>
        {% elseif current_link.isPending %}
            <a href="">
                <img class="link" data-action="validate" data-target-id="{{ current_link.target.id }}" data-link-id="{{ current_link.id }}" src="/images/icone/link.png" title="Valider la demande" />
            </a>
            <a href="">
                <img class="link" data-action="blacklist" data-target-id="{{ current_link.target.id }}" data-link-id="{{ current_link.id }}" src="/images/icone/blacklist.png" title="Refuser la demande" />
            </a>
        {% elseif current_link.isAccepted %}
            <a href="javascript:void(0)" onclick="javascript:chatWith('<?php echo $this->user['user_login']; ?>')">
                <img src="/images/icone/chat.png"  title="Chatter" />
            </a>
            <a href="{{ path('message_show', {'id' : current_link.target.id }) }}">
                <img src="/images/icone/message.jpg" title="Envoyer un message" />
            </a>
        {% elseif current_link.isBlacklisted %}
        {% endif %}
    </div>
{% endif %}