<div class="linkDestinataire" data-target-id="{{ link.target.id }}">
    {{ link.status }}
{% if link.status == 0 %}
    <a href="#">
        <img class="link" data-action="create" data-target-id="{{ link.target.id }}" src="/images/icone/link.png" title="Linker cette personne" />
    </a>
{% elseif link.status == 1 %}
    <a href="">
        <img class="link" data-action="validate" data-target-id="{{ link.target.id }}" src="/images/icone/link.png" title="Valider la demande" />
    </a>
    <a href="">
        <img class="link" data-action="blacklist" data-target-id="{{ link.target.id }}" src="/images/icone/blacklist.png" title="Refuser la demande" />
    </a>
{% elseif link.status == 2 %}
    <a href="javascript:void(0)" onclick="javascript:chatWith('<?php echo $this->user['user_login']; ?>')">
        <img src="/images/icone/chat.png"  title="Chatter" />
    </a>
    <a href="message/<?php echo $this->user['user_id']; ?>">
        <img src="/images/icone/message.jpg" title="Envoyer un message" />
    </a>
{% elseif link.status == 3 %}
{% endif %}
</div>