{% if link %}
    <div class="linkDestinataire" data-target-id="{{ link.target.id }}">
        {% if not link.status or link.isBlacklisted %}
            {% if link.user != app.user %}
                <a href="#">
                    <img class="link" data-action="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}create{% else %}register{% endif %}" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/link.png" title="Linker cette personne" />
                </a>
            {% endif %}
        {% elseif link.isPending %}
            {% if link.target == app.user %}
                <a href="">
                    <img class="link" data-action="validate" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/link.png" title="Valider la demande" />
                </a>
                <a href="">
                    <img class="link" data-action="blacklist" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/blacklist.png" title="Refuser la demande" />
                </a>
            {% else %}
                <img src="/images/icone/link_sent.png" title="Demande en attente" />
            {% endif %}
        {% elseif link.isAccepted %}
            <a href="javascript:void(0)" onclick="javascript:chatWith('<?php echo $this->user['user_login']; ?>')">
                <img src="/images/icone/chat.png"  title="Chatter" />
            </a>
            <a href="{{ path('message_show', {'id' : link.target.id }) }}">
                <img src="/images/icone/message.jpg" title="Envoyer un message" />
            </a>
            <a href="">
                <img class="link" data-action="blacklist" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/blacklist.png" title="Refuser la demande" />
            </a>
        {% endif %}
    </div>
{% endif %}