{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and link and link.linkedUser(app.user) != app.user %}
    <div class="linkDestinataire" data-target-id="{{ link.target.id }}">
        {% if not link.status %}
            <a href="#">
                <img class="link" data-action="create" data-href="{{ path('link_create') }}" data-target-id="{{ link.target.id }}" src="/images/icone/link.png" title="Linker cette personne" />
            </a>
        {% elseif link.isBlacklisted %}
            <a href="#">
                <img class="link" data-action="validate" data-href="{{ path('link_validate', {'link' : link.id }) }}" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/link.png" title="Linker cette personne" />
            </a>
        {% elseif link.isPending %}
            {% if link.target == app.user %}
                <a href="">
                    <img class="link" data-action="validate" data-href="{{ path('link_validate', {'link' : link.id }) }}" data-link-id="{{ link.id }}" src="/images/icone/link.png" title="Valider la demande" />
                </a>
                <a href="">
                    <img class="link" data-action="blacklist" data-href="{{ path('link_blacklist', {'link' : link.id }) }}" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/blacklist.png" title="Refuser la demande" />
                </a>
            {% else %}
                <img src="/images/icone/link_sent.png" title="Demande en attente" />
            {% endif %}
        {% elseif link.isAccepted %}
            <a class="chatLink" target-id="{{ link.target.id }}" data-id="{{ link.target.id }}" data-href="{{ path('chat_dialog', {'id' : link.target.id }) }}">
                <img src="/images/icone/chat.png"  title="Chatter" />
            </a>
            <a href="{{ path('mail_show', {'id' : link.target.id }) }}">
                <img src="/images/icone/message.jpg" title="Envoyer un message" />
            </a>
            <a href="">
                <img class="link" data-action="blacklist" data-href="{{ path('link_blacklist', {'link' : link.id }) }}" data-target-id="{{ link.target.id }}" data-link-id="{{ link.id }}" src="/images/icone/blacklist.png" title="Refuser la demande" />
            </a>
        {% endif %}
    </div>
{% endif %}