<div class="dialogBox" data-id="{{ target.id }}">
    <div class="dialogHeader">
        <span>{{ target.username }}</span>
        <span class="dialogClose"><a href="#">X</a></span>
    </div>
    {{ form_start(form) }}
        <div class="dialogContent results">
            {% include 'chat/search.html.twig' with results %}
        </div>
        <div class="dialogInput">
            {{ form_widget(form.content) }}
        </div>
        {{ form_widget(form.user) }}
        {{ form_widget(form.target) }}
    {{ form_start(form) }}
</div>