<tr class="{% if message.user != app.user %}grey{% endif %}">
    <td>
        <table>
            <tr>
                <td style="vertical-align: top;">
                    <a href="{{ path('user_show', {'id' : message.user.id }) }}">
                        <div class="smallPortrait" style="height: 120px;float:left;background-image:url({{ message.user.pictureUrl }});"></div>
                    </a>
                </td>
                <td style="width: 672px;vertical-align: top;">
                    Il y a {{ message.days }} jours
                    <span style="float:right;">{{ message.status }}</span>
                    <hr>
                    {{ message.content }}
                </td>
            </tr>
        </table>
    </td>
</tr>