{% if not message.isDeleted %}
    <tr class="{% if message.isNew %}trNewMessage{% else %}trReadMessage{% endif %}">
        <td align="center" width="100">
            {% include 'user/thumbnail.html.twig' with {'user' : message.otherUser(app.user) } %}
        </td>
        <td>
            <a href="{{ path('message_show', {'id' : message.otherUser(app.user).id}) }}">
                <img src="/images/icone/{% if message.isRead %}messagelu.png{% else %}message.png{% endif %}" />
            </a>
        </td>
        <td align="left" style="overflow:hidden;">
            <div style="width:450px;">
                <a class="blackLink" href="{{ path('message_show',  {'id' : message.otherUser(app.user).id}) }}">
                    {{ message.content }}
                </a>
            </div>
        </td>
        <td>
            <a href="{{ path('message_show',  {'id' : message.otherUser(app.user).id}) }}">
                il y a {{ message.days }} jours
            </a>
        </td>
    </tr>
{% endif %}