{% extends 'base.html.twig' %}

{% block body %}
    <div class="title topShadow" style="font-size: 20px;">{{ target.username|capitalize }}</div>
        {{ form_start(form) }}
            <div style="margin: 10px;">
                {{ form_widget(form.user) }}
                {{ form_widget(form.target) }}
                {{ form_widget(form.content, {'attr': {'cols': '95', 'rows' : '8'}}) }}
            </div>
        {{ form_end(form) }}
        <div style="margin-bottom: 10px;"></div>

        <table class="results" style="padding-right:2px;" cellspacing="0">
            {% if mails %}
                {% for mail in mails %}
                    {% include 'mail/content.html.twig' with {'mail' : mail } %}
                {% endfor %}
            {% else %}
                Aucun mail.
            {% endif %}
            <tr>
                <td>
                    <img class="loading" src="/images/loading.gif" data-end="false" style="display:none;" data-show="false" data-offset="0" data-href="mail" data-option="" />
                </td>
            </tr>
        </table>
{% endblock %}