{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/js/user_search.js') }}"></script>
{% endblock %}

{% block body %}
    {{ form_start(form, {'action': '#', 'attr': {'id' : 'search_form', 'class': 'fos_user_profile_edit' } }) }}
        <div class="form allShadows" id="search_form_table" align="center">
            <span id="search_criterias">
                {{ form_label(form.gender) }} {{ form_widget(form.gender) }}
                {{ form_label(form.username) }} {{ form_widget(form.username) }}
                {{ form_label(form.age) }} {{ form_widget(form.age) }}
                {{ form_label(form.distance) }} {{ form_widget(form.distance) }}
            </span>
            <input id="submit_button" type="button" ALT="Rechercher" value="Chercher" />
        </div>
    {{ form_end(form) }}
    <div align="center" class="results" data-processing="false"></div>
    <img class="loading" src="/images/loading.gif" style="display:none;" data-show="false" data-end="false" data-offset="0" data-href="" />
{% endblock %}