{% extends 'base.html.twig' %}

{% block body %}
    <div style="background-color:rgb(247, 247, 248);">
        <div class="heading topShadow" style="height: 31px;padding:25px;">
            <div style="float: left;padding-top: 5px;">
                <i>{{ user.shortDescription }}</i>
            </div>
            <div style="float: right;">
                {% include 'link/panel.html.twig' with {'link' : link_service.get(user)} %}
            </div>
        </div>
    </div>
    <div style="margin:25px;text-align: left;width: 775px;">
        <div class="grey" style="height: 294px;margin-left: -25px;margin-top: -25px;">
            {% if user == app.user  %}
                <a style="position:absolute;margin-top: 8px;margin-left: 11px;" href="{{ path('picture_edit') }}" title="Modifier les photos">
                    <img src="/images/icone/photo.png" />
                </a>
            {% endif %}
            <div  href="#" class="popup profilePortrait" style="float:left;background-image:url({{ user.defaultPicture.path | imagine_filter('portrait') }});">
            </div>
            <div class="shadow"></div>
            <div style="padding-left:10px;padding-right:10px;">
                <div style="color:rgb(35, 31, 32);font-size: 35px;letter-spacing:-2px;font-weight: bold;width:100%;">
                    {{ user.username|capitalize }} {{ user.status }}
                    {% if app.user == user %}
                        <span style="float:right;">
                            <a href="{{ path('fos_user_profile_edit') }}" title="Editer"><img src="/images/icone/edit.png" /></a>
                        </span>
                    {% endif %}
                </div>
                <br/>
                {% if user.age %}
                    <b>{{ user.age }} ans</b>
                {% endif %}
                <br/> 
                Dernière connexion {{ user.lastConnexionDate }}
                <br/>
                <br/>
                <table class="tableProfil" width="250">
                    {% if user.job %}
                        <tr>
                            <th>Profession</th>
                            <td>{{ user.job }}</td>
                        </tr>
                    {% endif %}
                    {% if user.height and user.weight %}
                        <tr>
                            <th>Mensurations</th>
                            <td>{{ user.height }} cm, {{ user.weight }} kg</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Tatouages</th>
                        <td>{% if user.isTattooed %}oui{% else %}non{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Piercings</th>
                        <td>{% if user.isPierced %}oui{% else %}non{% endif %}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% if user.description %}
            <div class="title noMargin">DESCRIPTION</div>
            <div class="shadow noMargin"></div>
            {{ user.description}}
            <div style="height:25px"></div>
        {% endif %}
    </div>
{% endblock %}
